button {
  background: var(--bg);
  color: var(--fg);
  border-color: var(--accent);
  border-radius: 8px;
  margin: 2px;
  transition: 0.3s;
}

button:hover {
  background: var(--primary);
  color: var(--bg);
  border-color: var(--bg)
}
